.cssPoemCreatorGrid{
    display:grid;
    position:relative;
    top:200px;
    grid-template-columns: repeat(4,200px);
    grid-template-rows: repeat(4,200px);
    align-items: center;
    justify-content: center;
}

.cssPoemCreatorGridContent{
    
    text-align: center;
    font-size: 22px;
    
}

.cssPoemCreatorOutputTray{
    
    position: fixed;
    overflow-y: hidden;
    height: 80vh;
    width:80%;
    top: -70vh;
    left:10vw;
    border: 2px solid;
    border-radius:25px;
    padding: 10px;
    padding-bottom: 50px;
    font-size:22px;
    transition: transform 0.75s
}

.cssPoemCreatorOutputWrapper{
    
    position: relative;
    height: inherit;
    width: inherit;
}

.cssPoemCreatorOutput {
    
    position: absolute;
    bottom: 0;
    display:inline-block;
    
}

.cssPoemCreatorOutputContent{
    
    display:inline-block;
}