body{
    
    font-family: Helvetica;
}

.navigationOutput{
    
    position:fixed;
    top:15vh;
    left:14vw;
    right:14vw;
    font-size:24px;
    overflow-y: auto;
    height: 75vh;
    
}

.navigationOutputPlayerPoemSpeak{
    
    font-weight: bold;
}

.passageLink{
    
    font-weight:bold;
    text-decoration: underline;
    color:darkblue;
    cursor: pointer;
}

.cssPoemCreatorGrid{
    display:grid;
    position:absolute;
    top: 15vh;
    left: 25%;
    grid-template-columns: repeat(4,16vh);
    grid-template-rows: repeat(4,16vh);
    gap: 1vh;
    align-items: center;
    justify-content: center;
}

.allusionWord{
    
    font-style: italic;
}

.cssPoemCreatorGridContentWrapper{
    
    border: 2px solid;
    border-radius:25px;
    border-color: gray;
    width: 15vh;
    height: 15vh;
    margin:2px;
}

.poemCreatorTray{
    
    position: fixed;
    background-color: white;
    overflow-y: hidden;
    width:80%;
    top: -88vh;
    height: 94vh;
    left:10vw;
    font-size:22px;
    border: 2px solid;
    border-radius:25px;
    transition: transform 0.75s;
    z-index:99;
}

.poemCreatorTrayButton{
    
    position: absolute;
    top: 96%;
    margin-left: 10px;
}

.cssPoemCreatorGridContent{
    
    position:relative;
    text-align: center;
    font-size: 22px;
    top:50%;
    margin-top: -11px;
    
}

.cssPoemCreatorOutputTray{
    
    position: relative;
    background-color: white;
    overflow-y: hidden;
    width:80%;
    top: -48vh;
    left:10vw;
    transition: transform 0.75s;
    z-index: 100;
}

.poemCreatorOutputTrayButton{
    
    position: relative;
    top: 96%;
    margin-left: 10px;
}

.reciteCreateToggleFlowButton{
    
    float:right;
}

.cssPoemCreatorOutputWrapper{
    
    position: relative;
    height: 60vh;
    border: 2px solid;
    border-radius:25px;
    padding: 10px;
    padding-bottom: 5px;

}

.cssPoemCreatorOutput {
    
    position: absolute;
    bottom: 0;
    display:inline-block;
    padding-bottom: 40px;
    
}

.cssPoemCreatorOutputContent{
    
    display:inline-block;
}

.lastAddedOutputContent{
    
    font-weight: bold;
    color: darkblue;
    
}

.cssPoemReciterTray{
    
    position: fixed;
    background-color: white;
    overflow-y: hidden;
    width:80%;
    top: 95vh;
    left:10vw;
    font-size:22px;
    transition: transform 0.75s
}

@media only screen and (max-width: 600px) {
    .cssPoemReciterTray{
     
        top:88vh;
    }
}

.cssPoemReciterDisplayWrapper{
    
    position: relative;
    height: 45vh;
    border: 2px solid;
    border-radius:25px;
    padding: 10px;
    padding-top: 5px;
}

.cssPoemReciterDisplay{
    
    display:grid;
    grid-template-columns: repeat(4,200px);
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-top:40px;
}

.poemRemembererPoemButton{
    
    white-space: pre-wrap;
}

.loginWrapper{
    
    position:relative;
    display:grid;
    grid-template-columns: repeat(2,350px);
    align-items: center;
    justify-content: center;
}

.loginWrapper > div {
    
    text-align: right;
}